/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
	background-image: url(../img/texture-light.png);
	background-repeat: repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding: 10px;
}

.content-box {
	width: 80%;
	background-color: #FFF;
	margin: 0 auto;
	box-shadow: 2px 2px 6px #CECDCD;
	padding: 10px;
}

.logo-tight {
	float: left;
	padding: 10px 10px 10px 0px;
}

.left-tight {
	float: left;
	padding: 20px 10px 0px 0px;
}

h1 {
	font-family: 'Boogaloo', sans-serif;
	font-size: 36px;
	color: #116189;
}

h2 {
	font-size: 120%;
	font-style: italic;
	padding: 10px 0px 20px 0px;
}

p {
	padding: 10px 0px 10px 0px;
}

nav ul { 
    background-color: #D74710; 
    border-radius: 5px;
} 
  
nav li { 
    display: inline-block;
} 
  
nav a { 
    display: inline-block; 
    padding: 10px; 
    color: #FFF; 
    font-weight: bold; 
} 

nav a:link,  
nav a:visited { 
    text-decoration: none; 
} 
  
nav a:hover { 
    background-color: #FF9D45; 
}

.right-tight {
	float: right;
	padding: 10px;
}

.footer {
	padding: 0px 0px 20px 0px;
	border-style: solid;
	border-top-width: thin;
	border-color: #CECDCD;
	font-size: 80%;
	font-style: italic;
}

.footer a {
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}